<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="container center_div">
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="username">Github Username:</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="token">Access Token:</label>
                <input type="text" class="form-control" id="token" name="token">
            </div>
            <button type="submit" class="btn btn-default">LoginHandler</button>
        </form>
    </div>
</body>
</html>